h1 Welcome to Odinbook!
ul
	li = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
	li = link_to "Sign in", new_user_session_path
	li = link_to "Sign up", new_user_registration_path