/* line 1, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
html {
  overflow-y: scroll;
}

/* line 5, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
body {
  background-color: #3578e5;
  font-family: arial;
}

/* line 10, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.container {
  border-radius: 15px;
  margin: 50px 50px;
  padding: 50px 50px;
  background-color: white;
}

/* line 17, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
li {
  margin-right: 10px;
}

/* line 20, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.float_left {
  float: left;
}

/* line 23, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.float_right {
  float: right;
}

/* line 27, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
#nav_bar {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  position: relative;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 35, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
#nav_bar .float_left, #nav_bar .float_right, #nav_bar .float_left li, #nav_bar .float_right li {
  display: inline;
}
/* line 38, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
#nav_bar .float_right li {
  margin-right: 10px;
}

/* line 46, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
#user_index .user a {
  margin-right: 10px;
}

/* line 51, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.post {
  position: relative;
  margin: 30px 40px 0 40px;
  padding: 20px 20px 0 20px;
  border: 1px solid gray;
}
/* line 56, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.post ul {
  padding: 0;
}
/* line 59, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.post ul li {
  display: inline;
  margin-left: 0;
}

/* line 65, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.comment {
  margin-top: 10px;
  border-bottom: 1px solid gray;
}

/* line 70, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.new_comment {
  margin: 10px 0;
}
/* line 73, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.new_comment textarea {
  display: block;
}
/* line 77, /Users/evankay/Development/odinbook/app/assets/stylesheets/custom.css.scss */
.new_comment input {
  margin-top: 10px;
  display: block;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

