#user_index
	h2 Users
	- @users.each do |user|
		.user
			= link_to user.name, user
			- unless current_user == user 
				- if current_user.pending_friends.include?(user) 
					= render 'friendships/cancel', friend_id: user.id 
				- elsif current_user.friends_to_accept.include?(user) 
					= render 'friendships/accept', friend_id: user.id 
				- elsif current_user.accepted_friends.include?(user) 
					= render 'friendships/unfriend', friend_id: user.id 
				- else 
					= render 'friendships/add_friend', friend_id: user.id 
	= will_paginate @users 
