- provide(:title, @user.name)

h2 = @user.name
- unless current_user = @user
	- if current_user.friends?(@user)
		= link_to 'Unfriend', friendship_path(friend_id: @user.id), method: :delete
	- else
		= link_to 'Add Friend', friendships_path(friend_id: @user.id), method: :post

- unless @posts.empty?
	.posts
		h3 Posts
		- @posts.each_with_index do |post, index|
			= render post, index: index
	= will_paginate @posts

- unless @friends.empty?
	h3 Friends
	- @friends.each do |friend| 
		p = link_to(friend.name, user_path(friend))
	= will_paginate @friends
