- if current_user.likes?(likeable)
	= link_to("Unlike", like_path(like_id_from_likeable(likeable)), method: :delete)
- else
	= link_to("Like", likes_path(likeable: { likeable_id: likeable.id, likeable_type: likeable.class.name } ), method: :post)