div class="post" id="post_#{index}"
	= render 'shared/link_to_author_and_time', authored_item: post
	p = post.content
	- if current_user == post.user
		p = link_to "Remove post", post_path(post.id), method: :delete
	- unless post.likes.empty?
		p = pluralize(post.likes.count, 'like')
	- unless post.user == current_user
		p = render 'shared/like_or_unlike', likeable: post
	- unless post.comments.empty?
		h4 Comments
		- post.comments.each do |comment|
			.comment
				= render 'shared/link_to_author_and_time', authored_item: comment
				p = comment.content
	= render 'comments/comment_form', post: post
