html {
	overflow-y: scroll;
}

body { 
	background-color: #3578e5;
	font-family: arial;
}

.container {
	border-radius: 15px;
	margin: 50px 50px;
	padding: 50px 50px;
	background-color: white;
}

li {
	margin-right: 10px;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}

#nav_bar {
	list-style-type: none;
	margin: 0;
	padding: 5px 0;
	position: relative;
	overflow: hidden;
	border: 2px solid gray;
	border-radius: 5px;
	.float_left, .float_right, .float_left li, .float_right li {
		display: inline;
	}
	.float_right li {
		margin-right: 10px;
	}
	padding-left: 10px;
	padding-right: 10px;
}

#user_index {
	.user a {
		margin-right: 10px;
	}
}

.post {
	position: relative;
	margin: 30px 40px 0 40px;
	padding: 20px 20px 0 20px;
	border: 1px solid gray;
	ul {
		padding: 0;
	}
	ul li {
		display: inline;
		margin-left: 0;
	}
}

.comment {
	margin-top: 10px;
	border-bottom: 1px solid gray;
}

.new_comment {
	margin: 10px 0;

	textarea {
		display: block;
	}

	input {
		margin-top: 10px;
		display: block;
	}
}