nav id="nav_bar"
	.float_left
		li = link_to "OdinBook", root_path
	- if user_signed_in?
		.float_right
			li = link_to "Users", users_path
			li = link_to current_user.name, user_path(current_user.id)
			li = link_to "Sign Out", destroy_user_session_path, method: :delete 

