.notifications
	ul
		- unless current_user.friends_to_accept.empty?
			li Friend Requests
			ul
				- current_user.friends_to_accept.each do |friend|
					li
						= friend.name + " has sent you a friend request. "
						= link_to("Accept", accept_friendship_path(id: current_user.id, friend_id: friend.id)) + " "
						= link_to("Decline", friendship_path(id: current_user.id, friend_id: friend.id), method: :delete)