doctype html
html
	head
		title = full_title(yield(:title))
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	body
	.container
		= render 'layouts/nav_bar'
		- if user_signed_in?
			= render 'layouts/notifications'
		- flash.each do |key, value|
			.flash
			= value
		= yield

